/*------------------------------------ */
/*BASIC SETUP*/
/*------------------------------------ */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #555555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------ */
/*REUSABLE COMPONENTS*/
/*------------------------------------ */



.row {
    max-width: 1140px;
/*    margin: 0 auto 0 auto;*/
    margin: 0 auto;
}


/*------------------------------------ */
/*HEADINGS*/
/*------------------------------------ */

h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;   
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #fa8231;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;  
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
/*------------------------------------ */
/*PARAGRAPH*/
/*------------------------------------ */

.long-line {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.section-feature .long-line {
    margin-bottom: 40px;
}


/*------------------------------------ */
/*BUTTONS*/
/*------------------------------------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    font-weight: 300;
    transition: background-color 0.2s, border 0.2s, color 0.2s
}


.btn-full:link,
.btn-full:visited {
    background-color: #fd9644;
    color: #ffffff;
    border: 1px solid #fd9644;
}

.btn-ghost:link,
.btn-ghost:visited {
    color:#fd9644;
    border: 1px solid#fd9644;
}

.btn:hover,
.btn:active {
     background-color: #fa8231;
    
}
.btn-ghost:hover,
.btn-ghost:active {
    color: #ffffff;
    border: 1px solid #fa8231;
}

.btn-full:hover,
.btn-full:active {
/*    color: #ffffff;*/
    border: 1px solid #fa8231;
}


/*------------------------------------ */
/*HEADER*/
/*------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.68),rgba(0, 0, 0, 0.68)), url(img/header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.hero-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/*------------------------------------ */
/*LINKS*/
/*------------------------------------ */


a:visited,
a:link {
    color: #fa8231;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid  #fa8231; 
}

a:hover,
a:active {
    color: #555555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
    
}


/*------------------------------------ */
/*NAV BAR*/
/*------------------------------------ */

.logo {
    float: left;
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;

}


.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #ffffff;
    text-decoration: none;
    font-size: .9em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid  transparent;
    padding: 8px 0;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid  #fa8231;
}

/*------------------------------------ */
/*FEATURES*/
/*------------------------------------ */

.section-feature {
    padding: 80px 0;
}

 .icon_big {
    font-size: 300%;
    display: block;
    margin-bottom: 10px;
    color: #fa8231;
}

.box {
    padding: 1%;
}

.box p{
    font-size: 90%;
    line-height: 120%;
}

/*------------------------------------ */
/*MEALS*/
/*------------------------------------ */



.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-image {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

.meal-image img{
    width: 100%;
    height: auto;
    transform: scale(1.15); 
    transition: transform .5s opacity: 0.5s;
    opacity: 0.7;
}
.meals-sections {
    padding: 0;
}

.meal-image img:hover{
  transform: scale(1.03); 
  opacity:1;
}



/*------------------------------------ */
/*STEPS*/
/*------------------------------------ */


.section-steps {
    background-color: #f4f4f4;
    margin-bottom: 80px;
    padding-top: 80px;
}

.steps-box:first-child {
    text-align: right;
    padding-right : 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.work-step {
    margin-bottom: 30px;
}

.work-step:last-of-type {
    margin-bottom: 80px;
}


.work-step div {
    color: #fa8231;
    border: 2px solid #fa8231;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    float: left;
    margin-right: 25px;
    padding: 5px;
    font-size: 150%;
}

.btn-app img  {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


.btn-app:visited,
.btn-app:link {
    border: 0px;
}


/*------------------------------------ */
/*CITIES*/
/*------------------------------------ */

/*
.city-images {
    float: left;
    overflow: hidden;
}
*/


.city-images img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}


.city-details ion-icon {
  color: #fa8231;
    /*    secrets to align images and text*/
    
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
  display: inline-block;
}


.section-cities {
    margin-bottom: 80px;
}

/*------------------------------------ */
/*TESTIMONIALS*/
/*------------------------------------ */


.testimonial-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #ffffff;
    background-attachment: fixed;

/*    color: #ffffff;*/
    
}
.testimonial-section h2 {
    margin-top: 80px;
}
blockquote {
    padding: 2px;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
    position: relative;
}


blockquote:before {
    content: "\201C"; 
    font-size: 400%;
    display: block;
/*    margin-bottom: 5px;*/
/*    aligns it in the current block*/
    position: absolute;
    top: -5px;
    left: -3px;   
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block; 
/*    aligns it in the current block*/

}

cite img{
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
/*    Aligns to middle */
}

/*------------------------------------ */
/*SUBSCRIPTION*/
/*------------------------------------ */


.subscription-section {
    background-color: #f4f4f4;
}

.subscription-section h2{
    padding-top: 80px;
}

.subscription {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefefef;
}
/*
    width: 90%;
    margin-left: 5%;
}
*/
.subscription div{
    padding: 15px;
    border: 1px solid #eae6e7;
}

*/
.subscription div:first-child {
    background-color: #fcfcfcfc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.subscription div:last-child {
    text-align: center;
    border:0;
}


.price-plan {
    font-size: 300%;
    color:#fa8231;
    font-weight: 100;
    margin-bottom: 10px;
    }

.price-plan span {
    font-size: 30%;
    font-weight: 300;
    color:#fa8231;
}
.price-plan-meal {
    font-size: 80%;
}
.subscription ul{
    list-style: none;
    
}
.subscription ul li {
  padding: 5px 0;
}

.subscription ul li ion-icon {
  color: #fa8231;
}

/*------------------------------------ */
/*CONTACT SECTIOM*/
/*------------------------------------ */

.contact-section{
    padding-top: 80px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

option {
    font-weight: lighter;
}

*:focus {
    outline: none;
}


